#businessName {
text-align: center;
font-family: 'UnifrakturMaguntia', cursive;
}

#businessLogo {
    display: block;
    margin: 0 auto;
}

#businessDescription {
text-align: center;
margin: 20px;
}

.indexHeader {
    font-family: cursive;
}

.indexImage {
    border: 5px solid white;
}