
body{
    background-color: lightgray;
    margin: 0;
    font-family: cursive;

}

    /* Targeting a class in CSS - every element with the class of header will recieve these css rules */
.header{
    background-color: black;
    overflow: hidden;
}

.header a:hover {
    background-color: lightgrey;
}

.headerLink {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 20px;

    /*
    Red: f * f = 15 * 15 = 255
    Blue: f * f = 15 * 15 = 255
    Green: f * f = 15 * 15 = 255

    255, 255, 255
    */
}

/* Target an Id in CSS - the element with the ID of homeLink will recieve those CSS rules */

#homeLink{
    float: left
}

#aboutLink{
    float: right;
}